.d-flex {
    display: flex;
    gap: 25px;
    margin-bottom: 1em;
}

form {
    // max-width: 50%;
    border: 2px solid #b3b3b3;
    // height: 600px;
    max-height: 600px;
    overflow: auto;
    // margin: 2em 22em;
    padding: 2em 4em 2em 4em;
    background: #d9d9d9;
}

.primaryButton {
    background-color: #286CE2;
    border-color: #286CE2;
    color: #ffffff;
    border-radius: 5px;
    &:hover {
        background-color: #2453A6;
    }
    &:disabled {
        background-color: #ddd;
        border-color: #ddd;
        color: #999;
    }
}

.form-control {
    border-width: 1px;
    border-color: #d2d2d2;
    margin-bottom: 12px;
    padding: 0.3em;
    height: 30px;
    border-radius: 5px;
}

.form-control::placeholder {
    font-family: Montserrat, "Helvetica", sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: #707070;
    margin-bottom: 0.3em;
}

.buttonStyle {
    height: 33px;
    margin-top: 1em;
    background-color: white;
    border-color: #286CE2;
}

.requiredStyle {
    color: red;
}

.inputValidation {
    border-color: red;
}

.mb-10 {
    margin-bottom: 10px;
}

.card {
    width: 50%;
    // height: 30em;
    // padding-left: 2.3em;
    // padding-right: 2em;
    height: 550px;
    padding-top: 1.5em;
    margin: 0%;

}
.card-img-top {
    height: 400px;
    width: 20em;
    align-items: center;
    padding: 0;
    margin: 0%;
}
.row {
    // margin-top: 4.5em;
    margin-left: 3em;
    margin-right: 3em;
    // border: 2px solid #b3b3b3;
    // max-height: 700px;
    // padding: 1em;
    // padding-right: 0;
}
// .firs-div {
//     width: 60%;
// }
// // .next-div {
// //     width: 20%;
// // }