<div class="row">
    <div class="col-md-6 firs-div">
        <form [formGroup]="productForm">
            <div class="requiredStyle mb-10" *ngIf="productForm.invalid">
                All * marked fields are required to save the product.
            </div>
            <div>
                <label>Name</label><span class="requiredStyle">*</span>
                <input class="form-control"
                    [ngClass]="{'inputValidation': productForm.get('name')?.touched && productForm.get('name')?.invalid }"
                    type="text" formControlName="name" placeholder="Enter Name">
            </div>
            <div>
                <label>Price</label><span class="requiredStyle">*</span>
                <input class="form-control" (keypress)="onKeyPress($event)"
                    [value]="productForm.get('price')?.value"
                    [ngClass]="{'inputValidation': productForm.get('price')?.touched && productForm.get('price')?.invalid }"
                    type="text" formControlName="price" placeholder="Enter Price in Rupees">
            </div>
            <div>
                <label>Colour</label><span class="requiredStyle">*</span>
                <input class="form-control"
                    [ngClass]="{'inputValidation': productForm.get('colour')?.touched && productForm.get('colour')?.invalid }"
                    type="text" formControlName="colour" placeholder="Enter Colour">
            </div>
            <div>
                <label>Battery Power Rating</label><span class="requiredStyle">*</span>
                <input class="form-control"
                    [ngClass]="{'inputValidation': productForm.get('battery')?.touched && productForm.get('battery')?.invalid }"
                    type="text" formControlName="battery" placeholder="Enter Battery Power Rating in mAh">
            </div>
            <div>
                <label>ImageURL</label><span class="requiredStyle">*</span>
                <textarea class="form-control"
                    [ngClass]="{'inputValidation': productForm.get('imageURL')?.touched && productForm.get('imageURL')?.invalid }"
                    type="text-area" formControlName="imageURL" placeholder="Enter URL"></textarea>
            </div>
            <div>
                <label>Description</label><span class="requiredStyle">*</span>
                <textarea class="form-control"
                    [ngClass]="{'inputValidation': productForm.get('description')?.touched && productForm.get('description')?.invalid }"
                    type="text-area" formControlName="description" placeholder="Enter Description"></textarea>
            </div>
            <div align="right">
                <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                    [disabled]="productForm.invalid">Save</button>
            </div>
        </form>
    </div>
    <div class="col-md-6 next-div">
        <div *ngIf="productForm.get('name')?.value || productForm.get('price')?.value || productForm.get('imageURL')?.value"  class="card">
            <img [src]="productForm.get('imageURL')?.value" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{productForm.get('name')?.value}}</h5>
                <p class="card-text">{{ productForm.get('price')?.value | currency: 'INR' : true }}</p>
            </div>
        </div>
    </div>
</div>